 p{
	background-color:red;
	color:white;
	text-decoration:italic;
	font-weight:bold;
	font-size:50px;
	text-align:center;
	border: 1px solid;
	padding: 5px;
	box-shadow: 5px 10px black;

}

	